<header
  class="w-full fixed top-0 left-0 z-30 bg-black/70 backdrop-blur-md py-4"
>
  <div class="max-w-screen-2xl mx-auto px-4 flex items-center justify-between">

    <img
      src="/assets/logos/logo-kamak.svg"
      width="140"
      height="40"
      alt="Kamak"
    />
    <div class="flex flex-row items-center gap-2 sm:gap-6">
      <a href="/" target="_blank" class="w-auto">
        <button
          class="text-white border border-gray-600 hover:bg-gray-700 px-3 py-1.5 rounded transition-colors text-sm font-medium w-auto min-w-[0]"
        >
          Ver sitio
        </button>
      </a>
      <button
        type="button"
        (click)="logout.emit()"
        title="Cerrar sesión"
        class="text-white bg-black px-2 py-2 border border-gray-600 hover:bg-gray-900 rounded flex items-center transition-colors text-xs sm:text-sm font-medium sm:px-4 sm:py-1.5 sm:gap-2 w-auto"
      >
        <svg
          class="h-4 w-4"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H7a2 2 0 01-2-2V7a2 2 0 012-2h4a2 2 0 012 2v1"
          />
        </svg>
        <span class="hidden sm:inline">Cerrar sesión</span>
      </button>
    </div>
  </div>
</header>
