<div class="bg-[#181c23] rounded-lg overflow-hidden border border-white/10 hover:border-white/20 transition-colors flex flex-col h-full"  (click)="edit.emit(project.id)">

  <div class="relative w-full" style="height:300px;">
    @if (project.imageAfter) {
      <img [src]="project.imageAfter" [alt]="project.name" class="w-full h-full object-cover" style="object-fit:cover; width:100%; height:100%;">
    }
    @else {
      <div class="w-full h-full flex items-center justify-center" style="height:100%;">
        <div class="flex flex-col items-center">
          <i-lucide name="image" class="text-white/30 w-8 h-8 mb-2"></i-lucide>
          <span class="text-white/30">Sin imagen</span>
        </div>
      </div>
    }
  </div>

  <div class="flex flex-col flex-1 p-4 justify-between">
    <div>
      <div class="flex justify-between items-start mb-2">
        <h3 class="text-lg font-bold text-white">{{ project.name }}</h3>
        <div class="flex items-center gap-2">
          @if (project.status !== 'PUBLISHED') {
            <span class="bg-yellow-600/20 text-yellow-400 p-1 rounded-full" title="Oculto en página principal">
              <i-lucide name="eye-off" class="w-3 h-3"></i-lucide>
            </span>
          }
          <span class="text-xs bg-[#222733] text-gray-300 px-2 py-1 rounded-full">
            {{ project.category | titlecase }}
          </span>
        </div>
      </div>
      <p class="text-sm text-gray-400 mb-4 line-clamp-2">{{ project.description }}</p>
    </div>
    <div class="flex justify-between items-center mt-auto pt-2 ">
      <a (click)="view.emit(project.id)" class="text-gray-300 hover:text-white flex items-center gap-1 cursor-pointer">
        <i-lucide name="eye" class="w-4 h-4"></i-lucide>
        Ver
      </a>
      <div class="flex gap-2" >
        <button (click)="edit.emit(project.id)" mat-icon-button color="primary" >
          <i-lucide name="edit" class="w-4 h-4"></i-lucide>
        </button>
        <button mat-icon-button color="warn" (click)="delete.emit(project.id)">
          <i-lucide name="trash-2" class="w-4 h-4 text-red-400"></i-lucide>
        </button>
      </div>
    </div>
  </div>
</div>
