<app-admin-header (logout)="handleLogout()"></app-admin-header>

<div class="min-h-screen flex w-full flex-col bg-black text-white md:px-16 p-16">

  <div class="mb-2">
    <a [routerLink]="'/admin/dashboard'" class="flex items-center gap-2 text-white transition-colors">
      <i-lucide name="arrow-left" class="w-6 h-6 opacity-60"></i-lucide>
      <span class="font-medium opacity-60">Volver al dashboard</span>
    </a>
  </div>

  <div>
    <h1 class="text-3xl font-bold text-white mb-6">
      {{ isEditMode ? "Editar Proyecto" : "Crear Proyecto" }}
    </h1>
  </div>

  <mat-tab-group
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="onTabChange($event)"
    animationDuration="0ms"
    class="bg-[#23272f]/80 border border-white/10 rounded-xl shadow-lg overflow-hidden"
  >
    <mat-tab label="Información">
      <app-project-info
        [projectId]="projectId"
        [isEditMode]="isEditMode"
        (projectCreated)="onProjectCreated($event)"
      ></app-project-info>
    </mat-tab>

    <mat-tab label="Imágenes" [disabled]="!isEditMode">
      <app-project-images [project]="project"></app-project-images>
    </mat-tab>

    <mat-tab label="Videos" [disabled]="!isEditMode">
      <app-project-videos [project]="project"></app-project-videos>
    </mat-tab>
  </mat-tab-group>
</div>
