/* ::ng-deep .mat-mdc-select-panel {
  background: #23272f !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch__icons,
::ng-deep .mat-mdc-slide-toggle .mdc-switch__icon {
  color: #fff !important;
  fill: #fff !important;
}

::ng-deep .mat-expansion-indicator,
::ng-deep .mat-mdc-expansion-indicator {
  color: #fff !important;
  fill: #fff !important;
}
 */